extends layout

block content
  h1 Kö för #{track}

  div#queue(class= in_queue ? "in_queue" : "")
    if queue.length < 1
      div(class="queue-empty")
        p Kön är just nu tom
    div(class="remove-from-queue")
        button(class="btn", onClick="removeFromQueue('#{track}', '#{name}')") Gå ur kön
    div(class="add-to-queue")
      button(class="btn", onClick="addToQueue('#{track}', '#{name}')") Ställ mig i kön

    ul#queue-list
      each item in queue.length ? queue : []
        li(id=item._id) #{item.name}